@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(2 6 23);
  background-color: rgb(249 250 251);
}

h1 {
  font-size: x-large;
  font-weight: 600;
}

.imgWrapper {
  overflow: hidden;
}

.bandImg {
  width: 100%;
  padding-bottom: 60%;
}

.imgWrapper:hover .bandImg {
  transform: scale(1.1);
}

button:disabled {
  background-color: slategray;
}

input {
  appearance: none;
  width: 100%;
  padding: 7px;
  border: 1px solid slategray;
}

hr {
  margin-bottom: 1.25rem;
}